﻿
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>A4 EXPRESS  </title>
	<link href="~/CSS/CSS.css" rel="stylesheet" />
</head>
<body>
	<div class="top-bar">
		<div class="main-bar">
			<div class="contact-left">
				<a>(0283) 123456 (HCM)</a>
				<a>(0243) 123456 (HN)</a>
				<button> Liên hệ quảng cáo</button>
				<button> Like</button>
				<button> Follow</button>
				<button> Youtube</button>
			</div>
			<div class="contact-right">
				<button> Đăng ký</button>
				<button> Đăng nhập</button>
				<input placeholder="Tìm kiếm" />
			</div>
		</div>
	</div>
	<div class="top-bar1">
		<div class="main-bar1">
			<div class="contact-left1">
				<img src="~/images/Logo_Vnexpress.png" />
			</div>
			<div class="contact-center1">
				<img src="~/images/banner-ads-1.png" />
			</div>
			<div class="contact-right1">
				<img src="~/images/banner-ads-2.png" />
			</div>
		</div>
	</div>
	<div class="top-bar2">
		<div class="main-bar2">
			<div class="contact2">
				<button>Thời sự</button>
				<button> Thế giới</button>
				<button> Kinh doanh</button>
				<button> Giải trí</button>
				<button>Thể thao</button>
				<button>Pháp luật</button>
				<button>Giáo dục</button>
				<button>Sức khỏe</button>
				<button>Gia đình</button>
				<button>Du lịch</button>
				<button>Khoa học</button>
				<button>Số hóa</button>
				<button>Xe</button>
				<button>Cộng đồng</button>
				<button>Tâm sự</button>
				<button>Video</button>
				<button>Cười</button>
				<button>Rao vật</button>
			</div>
		</div>
	</div>
	<div class="top-bar3">
		<div class="main-bar3">
			<div class="contact-left3">
				<div class="contact-left3-left">
					<div class="contact-left3-left1">
						<a>Trang nhất</a>
					</div>
					<div class="contact-left3-left2">
						<img src="~/images/thumnails.png" />
						<h1>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên </h1>
						<p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, dến cuộc chiến chống khủng bố ...</p>
					</div>
				</div>
				<div class="contact-left3-right">
					<div class="contact-left3-right1">
						<a>English</a>
					</div>
					<div class="contact-left3-right2">
						<p>Đài loan đóng cửa trường học vì bão Megi</p>
						<p>Những đứa trẻ sống vắt vẽo trên dầm cầu đã có chốn dung thân </p>
						<p>Tại sao các đôi hoàn hảo vẫn ly dị</p>
						<p>Ssangyoung Korando - crossover giá một tỷ tại Việt Nam</p>
						<p>Lỗ hổng IOS 10 giúp hacker giải mã bản sao lưu dễ dàng</p>
					</div>
					<div class="contact-left3-right3">
						<h2>Góc nhìn</h2>
						<h3>'Thất thủ' trước cơn mưa </h3>
						<p>Hàng triệu người bất lực trước một cơn mưa hay còn bởi điều gì khác?</p>
					</div>
				</div>
			</div>
			<div class="contact-right3">
				<div class="contact-right3-1">
					<p>Thứ ba , 27/9/2016 | 09:16 GMT+7 24h qua</p>
				</div>
				<div class="contact-right3-2">
					<img src="~/images/right-ads-1.png" />
				</div>
				<div class="contact-right3-3">
					<img src="~/images/right-ads-2.png" />
				</div>
				<div class="contact-right3-4">
					<img src="~/images/right-ads-3.png" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>
